@media all and (max-width: 1000px) {
.logo p1 {
  font-size: 99px;
  position: absolute;
  top: 240px;
  left: 50px;
}
.top-wrapper h1 {
    font-size: 32px;
  }
}

@media all and (max-width: 670px) {
.logo p1 {
  font-size: 75px;
  left: 25px;
  top: 280px
}
.header-right {
  display: none;
}
.menu-icone {
  display: block;
}
.top-wrapper h1 {
  font-size: 24px;
}
.top-wrapper p {
  font-size: 14px;
}
.top-wrapper .btn {
  width: 100%;
}
.facebook {
  margin-bottom: 10px;
}
.top-wrapper {
  text-align: left;
}
}

@media all and (min-width: 680px) {
  .line{
    display: none;
  }
}
